ion-content {
    --background: var(--ion-color-primary);
}

.card-container {
    background: var(--ion-color-light);
    border-top-right-radius: 200px;
    padding: 20px;
    width: 100%;
    margin-top: 30vh;
    height: 60vh;
    box-sizing: border-box;
}