<div class="modal-wrapper">
  <div class="modal-header">
    <ion-button fill="clear" (click)="cerrar()">
      <ion-icon name="arrow-back-outline" slot="icon-only" class="back-green"></ion-icon>
    </ion-button>
    <h2 class="fuente-titulos">Nueva solicitud</h2>
  </div>

  <div class="modal-body">
    
    <div class="input-section">
      <div class="section-title">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>Título breve</span>
      </div>
      <input type="text" class="custom-textarea" style="height: 40px;" placeholder="Ej: Reparación de grifo" [(ngModel)]="titulo">
    </div>

    <div class="input-section">
      <div class="section-title">
        <ion-icon name="pencil-outline"></ion-icon>
        <span>Describe el problema</span>
      </div>
      <textarea class="custom-textarea" placeholder="Ej: El grifo de la cocina gotea y no cierra bien" [(ngModel)]="descripcion"></textarea>
    </div>

    <div class="input-section">
      <div class="section-title">
        <ion-icon name="camera-outline"></ion-icon>
        <span>Añadir fotos (Máx. 2)</span>
      </div>
      <div class="media-grid">
        
        <div class="photo-preview" *ngFor="let foto of fotosBase64; let i = index" style="position: relative; display: inline-block; margin-right: 10px;">
          <img [src]="foto" style="width: 80px; height: 80px; object-fit: cover; border-radius: 8px;">
          <ion-icon name="close-circle" style="position: absolute; top: -5px; right: -5px; color: red; font-size: 24px; z-index: 10;" (click)="deletePhoto(i)"></ion-icon>
        </div>

        <div class="add-box" (click)="takeFoto()" *ngIf="fotosBase64.length < 2" style="display: inline-block; vertical-align: top;">
          <ion-icon name="add-outline"></ion-icon>
        </div>

      </div>
    </div>

    <div class="input-section">
      <div class="section-title">
        <ion-icon name="location-outline"></ion-icon>
        <span>Ubicación</span>
      </div>
      <div class="location-bar">
        <div class="location-text">
          <p>Usando ubicación actual</p>
        </div>
      </div>
    </div>

    <ion-button expand="block" class="btn-enviar" (click)="send()" [disabled]="!titulo || !descripcion">
      Enviar Solicitud
    </ion-button>
  </div>
</div>