<div class="modal-wrapper">
  <!-- Cabecera del Modal -->
  <div class="modal-header">
    <ion-button fill="clear" (click)="cerrar()">
      <ion-icon name="arrow-back-outline" slot="icon-only" class="back-green"></ion-icon>
    </ion-button>
    <h2 class="fuente-titulos">Nueva solicitud</h2>
  </div>

  <div class="modal-body">
    <!-- 1. Descripción -->
    <div class="input-section">
      <div class="section-title">
        <ion-icon name="pencil-outline"></ion-icon>
        <span>Describe el problema</span>
      </div>
      <textarea class="custom-textarea" placeholder="Ej: El grifo de la cocina gotea y no cierra bien"></textarea>
    </div>

    <!-- 2. Multimedia -->
    <div class="input-section">
      <div class="section-title">
        <ion-icon name="camera-outline"></ion-icon>
        <span>Añadir multimedia del problema</span>
      </div>
      <div class="media-grid">
        <div class="add-box" *ngFor="let i of [1,2,3]">
          <ion-icon name="add-outline"></ion-icon>
        </div>
      </div>
    </div>

    <!-- 3. Ubicación -->
    <div class="input-section">
      <div class="section-title">
        <ion-icon name="location-outline"></ion-icon>
        <span>Ubicación</span>
      </div>
      <div class="location-bar">
        <div class="location-text">
          <p>Carrer Les Basses, 3, Bajo 1</p>
          <p>Rubí, Barcelona España 08191</p>
        </div>
        <button class="btn-change">Cambiar</button>
      </div>
    </div>

    <!-- 4. Fecha -->
    <div class="input-section">
      <div class="section-title">
        <ion-icon name="calendar-outline"></ion-icon>
        <span>¿Cuando lo necesitas?</span>
      </div>
      <div class="custom-select">
        <span>Lo antes posible</span>
        <ion-icon name="chevron-down-outline"></ion-icon>
      </div>
    </div>

    <!-- Botón Enviar -->
    <ion-button expand="block" class="btn-enviar" (click)="enviar()">
      Enviar Solicitud
    </ion-button>
  </div>
</div>