<div class="modal-full-container">
  
  <div class="cabecera">
    <ion-icon name="arrow-back-outline" class="icono-volver" (click)="regresar()"></ion-icon>
    <h2 class="fuente-titulos">Hacer presupuesto</h2>
  </div>

  <div class="perfil-cliente">
    <div class="avatar-naranja"></div>
    <div class="info">
      <h3 class="nombre">{{ tareaCompleta?.client_name }} {{ tareaCompleta?.client_surname }}</h3>
      <div class="rating">
        <span class="estrellas">★★★★★</span>
        <span class="puntuacion">5.0</span>
      </div>
    </div>
    <button class="btn-ver-perfil">Ver perfil</button>
  </div>

  <h1 class="titulo-problema">{{ tareaCompleta?.title }}</h1>
  <div class="meta-datos">
    <p><ion-icon name="location-outline"></ion-icon> {{ tareaCompleta?.client_city }}</p>
    <p><ion-icon name="time-outline"></ion-icon> Solicitado el {{ tareaCompleta?.creation_date }}</p>
  </div>

  <div class="seccion-lectura">
    <h3 class="subtitulo">Descripción</h3>
    <p class="texto-corto">{{ tareaCompleta?.description }}</p>
    
    <div class="galeria-mini" *ngIf="tareaCompleta?.photo_1 || tareaCompleta?.photo_2 || tareaCompleta?.video_1 || tareaCompleta?.video_2">
      <img *ngIf="tareaCompleta?.photo_1" [src]="tareaCompleta.photo_1" class="foto-box">
      <img *ngIf="tareaCompleta?.photo_2" [src]="tareaCompleta.photo_2" class="foto-box">
      <video *ngIf="tareaCompleta?.video_1" [src]="tareaCompleta.video_1" class="foto-box video"></video>
      <video *ngIf="tareaCompleta?.video_2" [src]="tareaCompleta.video_2" class="foto-box video"></video>
    </div>
  </div>

  <div class="linea-divisoria"></div>

  <div class="formulario-presupuesto">
    
    <div class="label-editable">
      <h3 class="subtitulo-naranja">Notas personales</h3>
      <ion-icon name="create-outline" class="icon-edit"></ion-icon>
    </div>

    <textarea class="caja-notas" [(ngModel)]="notasProfesional"></textarea>

    <h3 class="subtitulo">Precio</h3>
    <div class="input-precio-container">
      <div class="circulo-euro">€</div>
      <input type="number" class="input-invisible" [(ngModel)]="precioOferta">
    </div>

    <div class="checks-container">
      <div class="opcion-check" (click)="toggleMateriales(true)">
        <div class="checkbox" [class.active]="incluyeMateriales"></div>
        <span>Incluye materiales y mano de obra.</span>
      </div>
      <div class="opcion-check" (click)="toggleMateriales(false)">
        <div class="checkbox" [class.active]="!incluyeMateriales"></div>
        <span>Solo esta incluida la mano de obra.</span>
      </div>
    </div>

    <ion-button expand="block" class="btn-enviar" (click)="enviarPresupuesto()">
      Enviar presupuesto
    </ion-button>

  </div>

</div>