<ion-content [scrollY]="false">
  <div class="card-selection-rol">
    <h2>{{ 'SELECTION-ROL.TITLE' | translate }}</h2>
    <div class="buttons-container">
      <a routerLink="/sign-up-client" class="link-selection-rol">
        <ion-button expand="block" class="button-selection-rol">
          {{ 'SELECTION-ROL.BUTTON-CLIENT' | translate }}
        </ion-button>
      </a>
      <a routerLink="/sign-up-professional" class="link-selection-rol">
        <ion-button expand="block" class="button-selection-rol">
          {{ 'SELECTION-ROL.BUTTON-PROFESSIONAL' | translate }}
        </ion-button>
      </a>
    </div>
  </div>
</ion-content>