<ion-content>
  <div class="card-selection-rol">
    <h2>{{ 'SELECTION-ROL.TITLE' | translate }}</h2>
    <p>{{ 'SELECTION-ROL.TEXT' | translate }}</p>

    <div class="buttons-container">
      <ion-card button="true" class="card-rol" (click)="selectRole('Client')" [class.active-card]="rolSelected === 'Client'">
        <img src="assets/img/Client.png" alt="Cliente" class="image-rol" />
        <ion-card-header>
          <ion-card-title class="titulo-rol">{{ 'SELECTION-ROL.TITLE-BUTTON-CLIENT' | translate }}</ion-card-title>
          <ion-card-subtitle>{{ 'SELECTION-ROL.SUBTITLE-BUTTON-CLIENT' | translate }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <ion-card button="true" class="card-rol" (click)="selectRole('Professional')" [class.active-card]="rolSelected === 'Professional'">
        <img src="assets/img/Professional.png" alt="Profesional" class="image-rol" />
        <ion-card-header>
          <ion-card-title class="titulo-rol">{{ 'SELECTION-ROL.TITLE-BUTTON-PROFESSIONAL' | translate }}</ion-card-title>
          <ion-card-subtitle>{{ 'SELECTION-ROL.SUBTITLE-BUTTON-PROFESSIONAL' | translate }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="conteiner-boton">
    <ion-button expand="block" class="button-continue" 
                (click)="continue()" 
                [disabled]="rolSelected === ''">
      {{ 'SELECTION-ROL.BUTTON-CONTINUE' | translate }}
    </ion-button>

    <div>
      <p>{{ 'SELECTION-ROL.HAS-ACCOUNT' | translate }}</p>
      <ion-button fill="clear" (click)="navigateToSignIn()">
        {{ 'SELECTION-ROL.BUTTON-SIGN-IN' | translate }}
      </ion-button>
    </div>
  </div>

  </div>
</ion-content>