/* 1. FONDO GENERAL */
ion-content.pantalla-seleccion {
    --background: var(--ion-color-light);
}

.card-selection-rol {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

/* 2. CABECERA (Textos superiores) */
.header-selection-rol {
    margin-top: 20vh;
    text-align: center;
    margin-bottom: 40px;
}

.title-principal {
    font-size: 2.2rem;
    color: var(--ion-color-primary);
    margin-bottom: 10px;
    font-weight: 500;
}

.text-principal {
    font-size: 1rem;
    color: var(--ion-color-medium);
    margin: 0;
    line-height: 1.4;
}

/* 3. CONTENEDOR DE TARJETAS */
.buttons-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 60px;
}

/* 4. LAS TARJETAS NARANJAS */
.card-rol {
    margin: 0;
    width: 45%;
    aspect-ratio: 4/5;
    background: var(--ion-color-primary);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

/* 1. Cuando la tarjeta de CLIENTE se activa */
.card-cliente.active-card {
    background: var(--ion-color-secondary) !important;
}

/* 2. Cuando la tarjeta de PROFESIONAL se activa */
.card-profesional.active-card {
    background: var(--ion-color-tertiary) !important;
}

/* Estilos internos de las tarjetas (Ajusta los tamaños de tu imagen) */
.image-rol {
    width: 50%;
    margin-bottom: 10px;
}

ion-card-header {
    padding: 5px;
}

.titulo-rol {
    margin-top: 20px;
    color: var(--ion-color-light);
    font-size: 1.1rem;
    font-weight: 700;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* 5. BOTÓN CONTINUAR Y FOOTER */
.conteiner-boton {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-continue {
    --background: var(--ion-color-medium);
    color: var(--ion-color-light);
    --border-radius: 25px;
    width: 85%;
    height: 50px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: none;
    --box-shadow: none;
    margin-bottom: 20px;
}

/* Textos del pie de página en una sola línea */
.footer-text {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 0.9rem;
    color: var(--ion-color-medium);
    margin: 0;
}

.link-sign-in {
    color: var(--ion-color-dark);
    font-weight: 600;
    text-decoration: none;
    margin-left: 5px;
    cursor: pointer;
    transition: opacity 0.2s;
    
    &:active {
        opacity: 0.7;
    }
}