<ion-content class="pantalla-home">
  <div class="main-container">
    
    <div class="header-top">
      <div class="logo-text">HandLy</div>
      <div class="header-actions">
        <div class="notification-container">
          <ion-icon name="notifications-outline" class="bell-icon"></ion-icon>
          <div class="notification-dot"></div>
        </div>
        <div class="user-avatar"></div>
      </div>
    </div>

    <div class="greeting-section">
      <h1 class="fuente-titulos greeting-title">¡Hola, {{ userName }}!</h1>
      <p class="fuente-texto greeting-subtitle">Tienes <strong>{{ tareasPendientes.length }}</strong> oportunidades esperándote</p>
      
      <ion-button fill="clear" color="danger" (click)="cerrarSesion()">
          <ion-icon slot="icon-only" name="log-out-outline" style="font-size: 1.8rem;"></ion-icon>
      </ion-button>
    </div>

    <div class="segment-container">
      <button class="segment-btn active">Nuevas solicitudes</button>
      <button class="segment-btn inactive">Mis trabajos</button>
    </div>

    <div class="jobs-list">
      
      <div class="job-card" *ngFor="let tarea of tareasPendientes">
        <div class="job-icon-box">
          <ion-icon name="construct-outline"></ion-icon>
        </div>
        
        <div class="job-info">
          <h3 class="job-title">{{ tarea.title }}</h3>
          <p class="job-location">{{ tarea.client_city }}</p>
          <p class="job-time">Solicitado el {{ tarea.creation_date }}</p>
          
          <button class="btn-detalles" (click)="abrirDetalles(tarea)">Ver detalles</button>
        </div>
      </div>

      <div *ngIf="tareasPendientes.length === 0" style="text-align: center; margin-top: 2rem; color: #888;">
        <p class="fuente-texto">Aún no hay trabajos solicitados.</p>
      </div>

    </div>
  </div>

</ion-content>
<app-shared-menu></app-shared-menu>