<div class="modal-full-container">
  
  <div class="cabecera">
    <ion-icon name="arrow-back-outline" class="icono-volver" (click)="regresar()"></ion-icon>
    <h2 class="fuente-titulos">Detalles de la solicitud</h2>
  </div>

  <div class="perfil-cliente">
    <div class="avatar-naranja"></div>
    <div class="info">
      <h3 class="nombre">{{ tareaCompleta?.client_name }} {{ tareaCompleta?.client_surname }}</h3>
      <div class="rating">
        <span class="estrellas">★★★★★</span>
        <span class="puntuacion">5.0</span> </div>
    </div>
    <button class="btn-ver-perfil">Ver perfil</button>
  </div>

  <h1 class="titulo-problema">{{ tareaCompleta?.title }}</h1>
  <div class="meta-datos">
    <p><ion-icon name="location-outline"></ion-icon> {{ tareaCompleta?.client_city }}</p>
    <p><ion-icon name="time-outline"></ion-icon> Solicitado el {{ tareaCompleta?.creation_date }}</p>
    <p><ion-icon name="calendar-outline"></ion-icon> Horario: {{ tareaCompleta?.time_preference }}</p>
  </div>

  <div class="linea-divisoria"></div>

  <div class="seccion">
    <h3 class="subtitulo">Descripción</h3>
    <p class="texto-descriptivo">{{ tareaCompleta?.description }}</p>
    
    <div class="galeria" *ngIf="tareaCompleta?.photo_1 || tareaCompleta?.photo_2 || tareaCompleta?.video_1 || tareaCompleta?.video_2">
      
      <div *ngIf="cargandoMultimedia" class="texto-descriptivo">Cargando fotos/vídeos...</div>
      
      <ng-container *ngIf="!cargandoMultimedia">
        <img *ngIf="tareaCompleta?.photo_1" [src]="tareaCompleta.photo_1" class="foto-evidencia">
        <img *ngIf="tareaCompleta?.photo_2" [src]="tareaCompleta.photo_2" class="foto-evidencia">
        
        <video *ngIf="tareaCompleta?.video_1" [src]="tareaCompleta.video_1" controls class="foto-evidencia"></video>
        <video *ngIf="tareaCompleta?.video_2" [src]="tareaCompleta.video_2" controls class="foto-evidencia"></video>
      </ng-container>

    </div>
  </div>

  <div class="botones-accion">
    <ion-button expand="block" class="btn-mensaje" (click)="enviarMensaje()">
      Enviar Mensaje
    </ion-button>
    <ion-button expand="block" class="btn-oferta" (click)="hacerOferta()">
      Hacer oferta
    </ion-button>
    <ion-button expand="block" fill="outline" class="btn-rechazar" (click)="rechazar()">
      Rechazar solicitud
    </ion-button>
  </div>

</div>