ion-content {
  --background: var(--ion-color-light);
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.home-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.titulo-app {
  display: flex;
  justify-content: center;
  color: var(--ion-color-primary); 
  font-size: 4.5rem;
  font-weight: bold;
  margin-top: 25vh;
}

.seccion-boton {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button-inicio {
  font-size: 1.2rem;
  width: 300px;
  height: 50px;
  --background: var(--ion-color-secondary); 
  color: var(--ion-color-light);
  --background-activated: var(--ion-color-secondary-shade);
  --background-hover: var(--ion-color-secondary-shade);
  --ripple-color: var(--ion-color-light);
}

.section-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo-app {
  margin-top: 11.4vh;
  width: 100%;
  max-width: 700px;
  display: block;
}